body {
  font-family: Georgia serif;
}

.center {
  margin: 20px auto;
  max-width: 500px;
  padding: 0 1em;
}

form{
  margin: 20px 0;
}

.urls-list {
  counter-reset: section;
}

.urls-list li:before{
  counter-increment: section;
  content: counters(section, ".") ". ";
  color: #999;
  font-size: 0.9;
  margin-right: 10px;
  align-self: flex-end;
}

.pure-menu-item {
  padding: 10px 0;
  display: flex;
}

.link {
  font-size: 1.5em;
  color: #000;
  margin-right: auto;
}

.remove-url {
  margin: 0;
}

.add-url-form {
  display: flex;
  flex-wrap: wrap;
}

.add-url-form input {
  margin: 0 5px;
}

.add-url-form input:first-child {
  margin-left: 0;
}

.add-url-form button{
  margin-left: auto;
}

.cross {
  font-family: monospace;
  text-decoration: none;
  color: red;
  border: none;
  background-color: transparent;
}

.flashes{
  margin: 0;
  padding: 20px;
  text-align: center;
}

.flashes li{
  list-style-type: none;
  list-style: none;
}

.flashes li.message {
  color: #20b420;
}

.flashes li.error {
  color: #b42020;
}
