<ul class="pure-menu-list urls-list">
  {% if urls|length > 0 %}
    {% for url in urls: %}
      <li class="pure-menu-item" id="{{ url[0] }}">
        <a href="{{ url[1] }}" class="link" title="{{ url[1] }}" target="_blank">{{ url[2] }}</a>

        <form action="{{url_for('remove_url')}}" method="POST" class="remove-url">
          <input type="hidden" name="id" value="{{url[0]}}">
          <button type="submit" class="cross">✕</button>
        </form>
      </li>
    {% endfor %}
  {% else %}
    no ulrs yet
  {% endif %}
</ul>
